<div class="toolbar">
    <div class="toolbar__toggle is-active" test-id="main-elly-button">
        <div class="balloon  balloon--left">
            <div class="balloon__triangle"></div>
        </div>
        <div class="logo ">
            <div class="logo__body">
                <div class="logo__face">
                    <div class="logo__eye--sx "></div>
                    <div class="logo__eye--dx "></div>
                </div>
                <div class="logo__triangle"></div>
            </div>
        </div>
    </div>
    <div class="toolbar__form is-active">
        <div class="form-group mt-1 pb-0">
            <DialogInput />
        </div>
    </div>
    <div class="toolbar__btn">
        <button class="btn btn-audio" type="button" _bl_2="">
            <i class="bi bi-volume-up"></i>
        </button>
    </div>
</div>