
<form @onsubmit="AskQuestion">
    <input class="form-control"
           type="text"
           spellcheck="false"
           placeholder="Cosa posso fare per te?"
           @bind-value="@_question"
           required>
    <label>Cosa posso fare per te?</label>
</form>

@code
{
    private string _question;

    private Task AskQuestion()
    {
        // ???
        return Task.CompletedTask;
    }
}