@implements IDisposable
@inject ICollectionStateService CollectionStateService

<div class="mt-3 overflow-auto">
    <table class="table align-middle m-0 vtable table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var collection in CollectionStateService.AvailableCollections)
        {
            <tr @onclick="() => CollectionStateService.OpenCollection(collection.Id)">
                <td>@collection.Id</td>
                <td>@collection.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code 
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        CollectionStateService.CollectionsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        CollectionStateService.CollectionsChanged -= StateHasChanged;
    }
}