@implements IDisposable
@inject ICollectionStateService CollectionStateService

<div class="container-fluid d-flex flex-wrap overflow-y-scroll">
    @foreach (var currentCollection in CollectionStateService.DashboardCollections)
    {
        <CollectionCard CollectionDetails="currentCollection"/>
    }
</div>

@code 
{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CollectionStateService.CollectionsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        CollectionStateService.CollectionsChanged -= StateHasChanged;
    }
}