@page "/"

<div class="main overflow-auto">
    <DockArea/>

    <div class="container-fluid" style="margin-top:5rem;">
        <Dashboard/>
    </div>
    
    <div class="footer slide-in-elliptic-top-fwd">
        <DialogBox/>
        <DialogArea/>
    </div>
</div>