<header class="header slide-in-top" id="header">
    <div class="user user__body">
        <div class="align-middle" style="cursor: default">
            <p class="user__name text-end">Demo Uno</p>
            <div class="dropdown">
                <p class="text-muted text-end">Tenant Uno</p>

            </div>
        </div>
        <div class="dropdown" style="cursor: pointer">
            <figure class="user__photo" data-bs-toggle="dropdown">
                <img src="content/img/default_user.svg"/>
            </figure>
        </div>
    </div>
</header>